body {
    background-color: yellowgreen;
}

h1,
h2,
p {
    font-size: medium;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: normal;
}

h2 {
    color: green;
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
}

ul {
    line-height: 40px;
    text-align: justify;
}